* {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
}

body {

    background: #bfbfbf url('images/background.jpg') repeat-x;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px 0;

}

header h1 {
    font-size: 40px;
    text-align: center;
    color: #D6AD60;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Limelight', cursive;

}

/* Main-menu */

#main-menu ul {

    width: 980px;
    height: 500px;
    margin: 0 auto;
    padding-top: 148px;
}

#main-menu ul li {

    float: left;
    width: 140px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.bw {

    position: absolute;
    left: 0px;
    width: 140px;
    height: 500px;
    cursor: pointer;
    background: url(images/bw-image.jpg) no-repeat;
    opacity: 0.7;
}

.color {

    position: absolute;
    left: 140px;
    width: 140px;
    height: 500px;
    cursor: pointer;
    background: url(images/color-image.jpg) no-repeat;
    
    }

#part2 div {

    background-position: -140px 0px;
}
#part3 div {

    background-position: -280px 0px;
}
#part4 div {

    background-position: -420px 0px;
}
#part5 div {

    background-position: -560px 0px;
}

.description {

    position: absolute;
    left: 140px;
    width: 240px;
    height: 460px;
    padding: 20px;
    background: #fff;
}
.description h2 {

    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    color: #D6AD60;
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
    text-shadow: 1px 1px 1px #333;


}

.description h3 {

    margin-top: 30px;
    padding: 10px;
    font-size: 27px;
    background:  #b40025;
    text-align: center;
    color: #D6AD60;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    font-family: 'Pinyon Script', cursive;

}

.description p {

padding-top: 35px;
font-size: 22px;
color:#333;
text-align: center;
font-family: 'Limelight', cursive;

}


/* buttons-menu*/

#button-menu {
    float: left;
    width: 100%;
    padding: 140px 0 50px 0;
}

#button-menu ul {
    float: left;
    position: relative;
    left: 50%;
    text-align: center;

}

.button {
    float: left;
    width: 160px;
    margin-left: 30px;
    padding: 7px 0;
    position: relative;
    right: 50%;
    text-shadow: 1px 1px 1px #333;
    font-family: 'Pinyon Script', cursive;
    text-align: center;
    color: #D6AD60;
    border-radius: 5px;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.75);
    background: #b40025;;
    border: 1.5px solid #6b00159d;
    font-size: 27px;
    font-weight: bold;
    cursor:pointer;

}

.hovered {

    background: #D6AD60;
    border: 0.5px solid #D6AD60;
    color: #fff;
    font-size: 30px;
    opacity: 0.9;
    text-shadow: 1px 1px 1px #333;

}